<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WmtcMode" value="True" />
    <add key="Part1" value="WMTC Part 1" />
    <add key="Part1Reduced" value="WMTC Part 1 Reduced Speed" />
    <add key="Part2" value="WMTC Part 2" />
    <add key="Part2Reduced" value="WMTC Part 2 Reduced Speed" />
    <add key="Part3" value="WMTC Part 3" />
    <add key="Part3Reduced" value="WMTC Part 3 Reduced Speed" />
    <add key="LogFolder" value="C:\ProgramData\SRH Systems\Temp\ShiftCalculatorLogs" />
  </appSettings>
</configuration>